<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %} | My Website</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="background-image: url('static/images/pexels-hasan-albari-1229861.jpg'); background-size: cover; backdrop-filter: blur(5px);">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">My Website</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="notes">Notes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sudoku-solve">Sudoku Solver</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout">Log Out</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-primary" href="sign-up">Sign Up</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>


  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'error' %}
          <div id="error-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ message }}
          </div>
        {% else %}
          <div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="container-fluid">
    {% block content %}{% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
<style>
  /* Style for input cells */
  table.input td input {
    background-color: #e1e1e1;
  }

  /* Style for output cells */
  table.output td input {
    background-color: #f1f1f1;
    color: blue;
    font-weight: bold;
  }
</style>

</html>
