{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="jumbotron text-center">
    <h1>Welcome to My Website!</h1>
    <p>Choose an option below to get started.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h3 class="card-title">Notes</h3>
            <p class="card-text">Access your personalized Notes .</p>
            <a href="notes" class="btn btn-lg btn-block btn-primary">Go to Notes</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h3 class="card-title">Sudoku Solver</h3>
            <p class="card-text">Solve Sudoku puzzles with ease.</p>
            <a href="#" class="btn btn-lg btn-block btn-primary">Go to Sudoku Solver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
